<html lang='ru'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Запрос на изменение пароля</title>
  </head>
  <body>
    <div>
      <div>
        <h1>Запрос на изменение пароля на <a href='{{on}}'>{{on}}</a></h1>
      </div>
			<div>
				<h5>Код:</h5>
				<p>{{code}}</p>
			</div>
    </div>
  </body>
</html>